(

center: (3, 2, 0),

aliases: [
    ('.', "air"),
    ('█', "wood"),
    ('▒', "leaves"),
],

layers: [
    ".......
     .......
     ...█...
     .......
     .......",

    ".......
     .......
     ..▒█...
     .......
     .......",

    "...▒...
     .▒▒▒▒..
     ▒▒██▒▒.
     .▒▒▒▒..
     .......",

    "..▒▒▒..
     ▒▒▒█▒▒.
     ▒█▒██▒.
     ▒▒▒▒▒▒.
     .......",

    "..▒▒▒..
     ▒▒▒█▒▒.
     ▒▒▒█▒█▒
     .▒▒█▒▒.
     ..▒▒▒..",

    "...▒...
     .▒▒█▒▒.
     .▒██▒█▒
     .▒▒█▒▒.
     ..▒▒▒..",

    ".......
     .▒▒▒▒▒.
     .▒██▒▒.
     .▒▒▒▒▒.
     ...▒...",

    ".......
     ..▒▒...
     .▒▒▒▒..
     ..▒▒...
     .......",
],

)
