(

hides: (
    west: true,
    east: true,
    south: true,
    north: true,
    down: true,
    up: true,
),

parts: [
    Cuboid({
        west: (tile: "grass", tint_mask: "grass_tint"),
        east: (tile: "grass", tint_mask: "grass_tint"),
        south: (tile: "grass", tint_mask: "grass_tint"),
        north: (tile: "grass", tint_mask: "grass_tint"),
        down: (tile: "dirt"),
        up: (tile: "grass_up", randomize: true, tint_mask: "full_tint"),
    }),
],

)
