(

hides: (
    west: false,
    east: false,
    south: false,
    north: false,
    down: false,
    up: false,
),

// jmi2k: clip rects to match texture
parts: [
    Rect({
        o: (0.25, 0, 0),
        x: (0.25, 1, 0),
        y: (0.25, 0, 1),
        tile: "wheat_0",
        p: (0, 0),
        u: (1, 0),
        v: (0, 1),
    }),
    Rect({
        o: (0.25, 1, 0),
        x: (0.25, 0, 0),
        y: (0.25, 1, 1),
        tile: "wheat_0",
        p: (1, 0),
        u: (0, 0),
        v: (1, 1),
    }),
    Rect({
        o: (0.75, 0, 0),
        x: (0.75, 1, 0),
        y: (0.75, 0, 1),
        tile: "wheat_0",
        p: (0, 0),
        u: (1, 0),
        v: (0, 1),
    }),
    Rect({
        o: (0.75, 1, 0),
        x: (0.75, 0, 0),
        y: (0.75, 1, 1),
        tile: "wheat_0",
        p: (1, 0),
        u: (0, 0),
        v: (1, 1),
    }),
    Rect({
        o: (0, 0.25, 0),
        x: (1, 0.25, 0),
        y: (0, 0.25, 1),
        tile: "wheat_0",
        p: (0, 0),
        u: (1, 0),
        v: (0, 1),
    }),
    Rect({
        o: (1, 0.25, 0),
        x: (0, 0.25, 0),
        y: (1, 0.25, 1),
        tile: "wheat_0",
        p: (1, 0),
        u: (0, 0),
        v: (1, 1),
    }),
    Rect({
        o: (0, 0.75, 0),
        x: (1, 0.75, 0),
        y: (0, 0.75, 1),
        tile: "wheat_0",
        p: (0, 0),
        u: (1, 0),
        v: (0, 1),
    }),
    Rect({
        o: (1, 0.75, 0),
        x: (0, 0.75, 0),
        y: (1, 0.75, 1),
        tile: "wheat_0",
        p: (1, 0),
        u: (0, 0),
        v: (1, 1),
    }),
],

)
